pyevolve
pytest
networkx==1.11
jupyter
pandas
matplotlib
pillow
Image
ipython
ipythonblocks
keras
numpy
tensorflow
opencv-python
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
