pyevolve
pytest
networkx==1.11
jupyter
pandas
matplotlib
pillow
Image
ipython
ipythonblocks
keras
numpy
tensorflow
opencv-python
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
