pyevolve
pytest
networkx==1.11
jupyter
pandas
matplotlib
pillow
Image
ipython
ipythonblocks
keras
numpy
tensorflow
opencv-python
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
